.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 90px;
  height: 70px;
  display: grid;
}

.footer-text {
  align-self: center;
  justify-self: center;
}
